# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake
build/

# VSCode
.vscode/

# Visual Studio
.vs/
out/

# Removed files
include/eos/isothermal_line.hpp
include/eos/lucas_method.hpp
include/eos/vapor_liquid_flash.hpp
src/lucas_method.cpp
test/lucas_method_test.cpp
test/vapor_liquid_flash_test.cpp

# Doxygen
doc/html/
doc/latex/